* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p { 
  font-size: 1.3rem;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #0B2434;
  width: 360px;
  height: 380px;
  display: flex;
}

.container {
  background-color: white;
  margin: 3rem 2rem;
  text-align: center;
  border-radius: 10px;
  padding: 3.4rem;
}

.section--game_description {
  width: 85%;
  margin: 0 auto;
}

.section--dice {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.Die {
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.isHeld {
  background-color: #59E391;
}

button {
  background-color: #5035FF;
  padding: 1rem 3rem;
  border: none;
  font-size: 1.6rem;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  cursor: pointer;
}

